NEXT_PUBLIC_SUPABASE_URL=https://irdsrxmztqaqsxdiafpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=Lorvensondp4282@gmail.com

RESEND_API_KEY=
EMAIL_FROM="Smartcore Académique <contact@smartcoreacademique.com>"

NEXT_PUBLIC_CONTACT_EMAIL=contact@smartcoreacademique.com
NEXT_PUBLIC_CONTACT_WHATSAPP_URL=
NEXT_PUBLIC_WHATSAPP_GROUP_URL=
NEXT_PUBLIC_GOOGLE_MEET_URL=
NEXT_PUBLIC_GOOGLE_CALENDAR_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=

TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_ENFORCE=false

KOBARA_SECRET_KEY=
KOBARA_API_URL=https://api.kobara.app/v1/payments
NEXT_PUBLIC_APP_URL=http://localhost:3000
