NEXT_PUBLIC_SUPABASE_URL=https://irdsrxmztqaqsxdiafpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZHNyeG16dHFhcXN4ZGlhZnBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxOTc4MTIsImV4cCI6MjA5OTc3MzgxMn0.EGkBWveoPqut--BEYO10a3L6OcGTYNN-loWxXnFrO5w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZHNyeG16dHFhcXN4ZGlhZnBpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDE5NzgxMiwiZXhwIjoyMDk5NzczODEyfQ.Ry6D9TOpW2g3W0oajgxaksM4cS6U7R2Y9-wAAhJrmeA
ADMIN_EMAILS=Lorvensondp4282@gmail.com

RESEND_API_KEY=
EMAIL_FROM="Smartcore Académique <contact@smartcoreacademique.com>"

NEXT_PUBLIC_CONTACT_EMAIL=contact@smartcoreacademique.com
NEXT_PUBLIC_CONTACT_WHATSAPP_URL=
NEXT_PUBLIC_WHATSAPP_GROUP_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=

TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

KOBARA_SECRET_KEY=
KOBARA_API_URL=https://api.kobara.app/v1/payments
NEXT_PUBLIC_APP_URL=http://localhost:3000
